SPRING_APPLICATION_NAME=recommendatio-engine
# Mongo DB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/recsysdb?retryWrites=true&w=majority
# TMDB api key
TMDB_API_KEY=your_tmdb_api_key_here
# TMDB base uri
TMDB_API_BASEURL=https://api.themoviedb.org/3
# Scheduler
APP_PYTHON_COMMAND=python
APP_PYTHON_SCRIPTHPATH=./python_agent/batch_processor.py
