# ==== Environments ====
.env
.env.local
.env.*.local

# ==== IDEs ====
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
*.swp
*.swo

### Python Agent ###
python_agent/venv/
python_agent/__pycache__/
python_agent/.env

# ==== OS ====
.DS_Store       # macOS
Thumbs.db       # Windows
ehthumbs.db
Desktop.ini

# ==== Other ====
*.log

# ==== Python ====
__pycache__/
*.pyc
venv/
.venv/